<%= form_for(:user, url: sessions_path) do |f| %>
    Email <%= f.email_field :email %>
    Password <%= f.password_field :password %>
    <%= f.submit "Sign In" %><br>
<% end %>
<p>or</p><br>
<%= link_to image_tag("https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png", border: 0), signin_with_google_url %>

<%= flash[:error] %>