<h1>Log In</h1>

<%= form_for(:user, url: sessions_path) do |f| %>
    Name <%= f.text_field :name %>
    Password <%= f.password_field :password %>
    <%= f.submit "Log In" %>
<% end %>

<h1>Or log in with Google</h1>
<a href="/auth/google_oauth2">Sign in with Google</a>

<%= flash[:error] %>