<%= form_for @client do |f| %>
    <div class="input-field col s12">
    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name %>
  </div>
  
  <div class="input-field col s12">
    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name %>
  </div>

  <%= f.label :case_manager, "Case Manager" %>
  <%= f.collection_select(:caseload_id, Caseload.all, :id, :case_manager, { :include_blank => true }, { :class => 'browser-default' }) %>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

<% end %>