<h5>Create a New Client</h5>

<%= form_for @client do |f| %>
    <div class="input-field col s12">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  
  <div class="input-field col s12">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <%= f.label :caseload %>
  <%= f.collection_select(:caseload_id, Caseload.all, :id, :id) %>

    <%= f.submit "Create Client" %>
<% end %>