<h3>Create a New Event</h3>

<%= form_for @event do |f| %>
    Name: <%= f.text_field :name %><br>
    Description: <%= f.text_area :description %><br>
    Date: <%= select_date Date::today, :prefix => 'date' %>
    <br>
    Start Time: <%= f.time_field :start_time %><br>
    End Time: <%= f.time_field :end_time %><br>
    Location: <%= f.text_field :location %><br>
    Category: <%= f.text_field :category %><br>

    <%= f.submit "Create Event" %>
<% end %>