<ul class="collection">
    <li class="collection-item">Current Clients</li>
<% @caseload.clients.each do |client| %>
    <li><%= link_to client.name, client_url(client) %></li>
<% end %>
</ul>


<%= form_for [@user, @caseload] do |f| %>
    <%= f.label :clients %>
        <%= f.collection_select(:client_ids, Client.unassigned, :id, :first_name, {}, { :class => 'browser-default' }) %>
    <%= f.submit "Add Client to Caseload" %>
<% end %>