<!DOCTYPE html>
<html>
  <head>
    <title>Rails Portfolio Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper">
      <a href="/" class="brand-logo">Case Manager on Rails</a> 
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
          <li>
            <%= link_to("Sign Out", signout_url, method: :post) %>
          </li>
          <% else %>
          <li>
            <%= link_to "Register", register_url %>
          </li>
          <li>
            <%= link_to "Sign In", signin_url %>
          </li>
          <li>
            <%= link_to image_tag("https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png", border: 0), signin_with_google_url %>
          </li>
            <% end %>
        </ul>
      </div>
      <% if current_user %>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><%= link_to "My Account", current_user %></li>
          <li class="tab"><%= link_to "My Caseload", user_caseload_url(current_user, current_user.caseload) %></li>
        </ul>
      </div>
      <% end %>
    </nav>
    <%= yield %>

    <% if @user && @user.errors.any? %>
      <ul>
          <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
      </ul>
    <% end %>

    <% if @note && @note.errors.any? %>
    <ul>
        <% @note.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
  <% end %>

    <%= flash[:error] %>
  </body>
</html>
  