<!DOCTYPE html>
<html>
  <head>
    <title>Rails Portfolio Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li>
              <%= link_to "Home", "/" %>
          </li>
          <li>
            <% if current_user %>
              <%= link_to "My Clients", current_user %>
            <% end %>
          </li>
          <li>
            <% if current_user %>
              <%= link_to "My Notes", current_user %>
            <% end %>
          </li>
          <li>
            <% if current_user %>
              <%= link_to("Log Out", logout_url, method: :post) %>
            <% else %>
              <%= link_to "Log In", :controller => 'sessions', :action => 'new' %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
  