<!DOCTYPE html>
<html>
  <head>
    <title>Rails Portfolio Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li>
              <%= link_to "Home", "/" %>
          </li>
          <li>
            <% if current_user %>
              <%= link_to "My Clients", user_clients_url(current_user) %>
            <% end %>
          </li>
          <% if current_user %>
          <li>
            <%= link_to("Sign Out", signout_url, method: :post) %>
          </li>
          <% else %>
          <li>
            <%= link_to "Register", register_url %>
          </li>
          <li>
            <%= link_to "Sign In", signin_url %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
  