<!DOCTYPE html>
<html>
  <head>
    <title>Rails Portfolio Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
              <%= link_to "Home", "/" %>
          </li>
          <% if current_user %>
          <li>
            <%= link_to("Sign Out", signout_url, method: :post) %>
          </li>
          <% else %>
          <li>
            <%= link_to "Register", register_url %>
          </li>
          <li>
            <%= link_to "Sign In", signin_url %>
          </li>
          <% end %>
        </ul>
      </div>
      <% if current_user %>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><%= link_to "My Account", current_user %></li>
          <li class="tab"><%= link_to "My Clients", user_clients_url(current_user) %></li>
        </ul>
      </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
  